@use 'helpers' as *;

:root {
  --new-year-color-bgc: #175c1bb0;
  --winter-color-bgc: #e4e4e438;
  --autumn-color-bgc: #ccb06255;
  --spring-color-bgc: #53878c9e;
  --summer-color-bgc: #a4363691;
  --absolute-black: #000000;
  --absolute-white: #ffffff;

  --main-family: 'Unbounded', sans-serif;
  --second-family: 'Horyzen Mono', sans-serif;

  --shadow-main: #{remm(0)} #{remm(0)} #{remm(25)} #{remm(5)};
  --border-black: #{remm(2)} solid var(--absolute-black);

  --container-width: #{fluid(2560, 380)};
  --container-padding-x: #{remm(16)};

  @include mobile-above-l {
    --container-padding-x: #{remm(36)};
  }
  @include tablet-above {
    --container-padding-x: #{remm(60)};
  }
  @include laptop-above {
    --container-padding-x: #{remm(80)};
  }
  @include desktop {
    --container-padding-x: #{remm(162)};
  }
}
