@use 'global';
@use 'helpers' as *;

body {
  display: flex;
  flex-direction: column;
  background-size: cover;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: remm(15);
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: fluid(50, 10);
}

.title {
  text-align: center;
}
.timer {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: remm(40);

  @include mobile-above-l {
    grid-template-columns: repeat(4, 1fr);
  }
}
.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.box {
  padding-inline: fluid(50, 20);
  padding-block: fluid(20, 10);
  border: var(--border-black);
  border-radius: remm(10);
  box-shadow: var(--shadow-main);
}
.year {
  text-decoration: underline;
}

.newYear {
  color: var(--new-year-color);
  background-color: var(--new-year-color-bgc);
  box-shadow: var(--shadow-main) #00ffe557;
}
.winter {
  color: var(--winter-color);
  background-color: var(--winter-color-bgc);
  box-shadow: var(--shadow-main) #ffffff8f;
}
.autumn {
  color: var(--autumn-color);
  background-color: var(--autumn-color-bgc);
  box-shadow: var(--shadow-main) #d975197a;
}
.spring {
  color: var(--spring-color);
  background-color: var(--spring-color-bgc);
  box-shadow: var(--shadow-main) #00dcc582;
}
.summer {
  color: var(--summer-color);
  background-color: var(--summer-color-bgc);
  box-shadow: var(--shadow-main) #961a1af5;
}
[data='season'] {
  opacity: 0;
  animation: fadeIn 3s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.style {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include fluid-text(40, 14);
}
.styleBtn,
.autorLink {
  outline: none;
  border: none;
  text-decoration: none;
  padding: remm(10);
}
