* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 100px;
  font-family: 'Unbounded', sans-serif;
  background-size: cover;
}
.title {
  text-align: center;
  margin-bottom: 80px;
  font-size: 4rem;
}
.timer {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}
.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.box {
  padding-inline: 50px;
  padding-block: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.year {
  text-decoration: underline;
}
.value {
  font-size: 5rem;
  font-family: 'Horyzen Mono', sans-serif;
}
.label {
  font-size: 1.5rem;
}
.autumn {
  background-color: #ccb06255;
  color: #09041e;
}
.summer {
  background-color: #cc626255;
  color: #200a0a;
}
.spring {
  background-color: #53878c55;
  color: #240617;
}
.winter {
  background-color: #61301ead;
  color: #1e0505;
}
.new-year {
  background-color: #36bf3f45;
  color: #030d06;
}
[data='season'] {
  opacity: 0;
  animation: fadeIn 3s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
